/* Year 1 Game Colors */
$orange: orange;
$blue: blue;
$gray: #333;

$nav-color: $orange;
$number-color: #fff;
$number-box-color: $blue;

/* Year 1 Fonts */
$default-font: 'Ubuntu', sans-serif;
$normal: 400;
$bold: 700;

/* Gutters */
$thin-gutter: 1%;
$main-gutter: 2%;
